@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,400&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --secondary: hsl(213deg, 20%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    max-width: 1440px;
}

body {
    background-color: var(--Very-Dark-Blue);

}

.center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_star {
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 1rem;
    width: fit-content;
}

.btn_number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    width: 100%; 
}

.number {
    font-size: 1.1rem;
    color: var(--Light-Grey);
    border: none;
    background-color: var(--secondary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card_main {
    display: grid;
    margin: auto;
    max-width: 30%;
    background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(213, 31%, 13%) 80%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 2rem;
    gap: 10px;
}

h2 {
    color: var(--White);
}

p {
    color: var(--Medium-Grey);
    font-size: 15px;
}

.btn_submit {
    background-color: var(--Orange);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 100px;
    padding: 15px;
    width: 90%;
    margin: auto;
    color: var(--White);
    font-size: small;
    transition: 0.3s;
    
}

.btn_submit:hover {
    background-color: var(--White);
    color: var(--Orange);
}


.card_thank {
    visibility: hidden;
    margin: auto;
    max-width: 30%;
    background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(213, 31%, 13%) 80%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 2rem;
    gap: 15px;
    text-align: center;
}

.img_thank {
    margin: auto;
}

.rating_result p {
    color: var(--Orange);
    background-color: var(--secondary);
    border-radius: 100px;
    max-width: 60%;
    margin: auto;
    padding: 10px;
}